@using DAdmin.Components.Components.ViewModels
<nav class="sidebar sidebar-offcanvas">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#" @onclick="() => SelectItem(new MenuItem { Name = MenuItemType.Dashboard.ToString(), MenuItemType = MenuItemType.Dashboard })">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Entities</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse show">
                <ul class="nav flex-column sub-menu">
                    @if (_entityNames == null)
                    {
                        <p class="text-dark">Loading...</p>
                    }
                    else
                    {
                        foreach (var entityName in _entityNames)
                        {
                            var isSelected = entityName == _selectedItem;
                            <li class="nav-item @(isSelected ? "active" : "")">
                                <a href="#" class="nav-link"
                                   @onclick="() => SelectItem(new MenuItem { Name = entityName, MenuItemType = MenuItemType.Entity })">
                                    @entityName
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </li>
    </ul>
</nav>
@* <nav class="sidebar"> *@
@*     <div class="pt-4"> *@
@*         <a class="sidebar-item text-white d-block" *@
@*            @onclick="() => SelectItem(new MenuItem { Name = MenuItemType.Dashboard.ToString(), MenuItemType = MenuItemType.Dashboard })"> *@
@*             <i class="fa fa-dashboard mr-1"></i> Dashboard *@
@*         </a> *@
@* *@
@*         <a class="sidebar-item text-white"><i class="fa fa-table mr-1"></i> Tables </a> *@
@*         <ul class="list-unstyled components mb-5"> *@
@*             @if (_entityNames == null) *@
@*             { *@
@*                 <p class="text-dark">Loading...</p> *@
@*             } *@
@*             else *@
@*             { *@
@*                 foreach (var entityName in _entityNames) *@
@*                 { *@
@*                     var isSelected = entityName == _selectedItem; *@
@*                     <li class="@(isSelected ? "active" : "")"> *@
@*                         <a href="#" *@
@*                            @onclick="() => SelectItem(new MenuItem { Name = entityName, MenuItemType = MenuItemType.TableResource })"> *@
@*                             @entityName *@
@*                         </a> *@
@*                     </li> *@
@*                 } *@
@*             } *@
@*         </ul> *@
@*     </div> *@
@* </nav> *@