@import "../font-awesome/css/fontawesome.css";
@import "../font-awesome/css/brands.css";
@import "../font-awesome/css/solid.css";
@import "../vendor/base/vendor.bundle.base.css";
@import "../vendor/mdi/css/materialdesignicons.min.css";
@import "../vendor/datatables.net-bs4/dataTables.bootstrap4.css";
@import "style.css";

.content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.chartSelect {
    height: 30px !important;
    padding: 0 !important;
    padding-left: 8px !important;
    margin-right: 12px;
}

.nav-item.active {
    background-color: #7859e0;
    color: white;
}

.nav-item.active:hover {
    background-color: #7859e0 !important;
    color: white;
}

.nav-item.active .nav-link {
    color: white !important;
}

.sidebar .nav.sub-menu {
    padding: 0;
}

.pagination {
    margin-top: 1em !important;
}

.pagination .page-link {
    padding: 2px 10px !important;
    border: none !important;
    /*border-radius: 50% !important;*/
    color: #1a1e21;
}

.pagination .page-item.active > .page-link {
    z-index: 3;
    color: #fff;
    background-color: #7859df;
    border-color: #7859df;
}

.b-table.table.b-datagrid .form-control {
    padding: 4px !important;
    border: 1px solid #b8b8b8 !important;
}

.tfoot {
    border: 1px solid #e8dfdf;
}