@using DynamicAdmin.Components.Components.ViewModels
<div class="container-fluid page-body-wrapper">

    <Menu OnSelectedItem="OnSelectedItem"/>

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 stretch-card">
                    <div class="content p-2">
                        @_renderedContent
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>