@namespace DAdmin
@inherits DAdminComponent

@using Microsoft.JSInterop
@typeparam TEntity

<DataGridColumn TItem="TEntity" Caption="@Name" Filterable="false">
    <DisplayTemplate>
        <div id="@editorId" style="height: 300px;"></div>
    </DisplayTemplate>
</DataGridColumn>