@page "/CreateEntity/{TableName}"

@using System.Reflection
@using DynamicAdmin.Components.Helpers
@using Microsoft.EntityFrameworkCore

<h3>Create @TableName</h3>

@_createEntityDialogComponent

@code {
    [Parameter] public string TableName { get; set; }
    [Inject] public DbContext DbContext { get; set; }

    private bool _isCreateModalOpen = true;
    private RenderFragment _createEntityDialogComponent;

    protected override Task OnInitializedAsync()
    {
        var entityType = DbContext.GetTypeFromTableName(TableName);
        
        if (entityType != null)
        {
            _createEntityDialogComponent = builder =>
            {
                builder.OpenComponent(0, typeof(CreateEntityDialog<>).MakeGenericType(entityType));
                builder.AddAttribute(1, "TableName", TableName);
                builder.AddAttribute(1, "IsOpen", true);
                builder.CloseComponent();
            };

            StateHasChanged();
        }

        return Task.CompletedTask;
    }

    private void OnCreateModalSave(object entity)
    {
        // _isCreateModalOpen = false;
    }
}
