<nav class="sidebar sidebar-offcanvas">
    <ul class="nav">
        @foreach (var menuItem in MenuItems)
        {
            @if (menuItem.SubItems.Any())
            {
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="mdi mdi-grid-large menu-icon"></i>
                        <span class="menu-title">@menuItem.Type</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse show">
                        <ul class="nav flex-column sub-menu">

                            @foreach (var subItem in menuItem.SubItems)
                            {
                                var isSelected = subItem.Name == _selectedItem.Name;
                                <li class="nav-item @(isSelected ? "active" : "")">
                                    <a href="#" class="nav-link"
                                       @onclick="() => SelectItem(subItem)">
                                        @subItem.Name
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="#" @onclick="() => SelectItem(menuItem)">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">@menuItem.Type</span>
                    </a>
                </li>
            }
        }
    </ul>
</nav>