@typeparam TEntity

<div class="d-flex justify-content-between align-items-center mb-3 mt-3">
    <button class="btn btn-outline-primary" @onclick="OpenCreateModal"><i class="fa fa-file-text-o"></i>Create </button>

    @* TODO search by presing enter *@
    <div class="d-flex align-items-center w-25">
        <input @bind="_searchQuery" placeholder="Search..." class="form-control form-control-sm mr-2"/>
        <button @onclick="ApplySearch" class="btn btn-sm btn-info">Search</button>
    </div>
</div>

@if (_data != null && _data.Any())
{
    <div class="card col-12">
        <div class="card-body ">
            <div class="d-flex justify-content-end">
                <button class="btn btn-sm btn-outline-secondary" @onclick="DownloadCsv"><i class="fa fa-download" style="padding-right: 5px"></i> CSV</button>
            </div>
            <TableDataGrid TEntity="TEntity"
                           Data="_data"
                           CurrentPage="_currentPage"
                           TotalPages="TotalPages"
                           OnPageChanged="LoadTableData"
                           OnEdit="EditItem"
                           OnDelete="DeleteItem"/>
        </div>
    </div>

    <EditEntityDialog TEntity="TEntity" EntityName="@_entityName" SelectedEntity="_selectedItem" @bind-IsOpen="_isEditModalOpen" OnSave="OnEditModalSave"/>
}
else
{
    <h4 class="text-center mt-5 text-black-50">No Data</h4>
}

<CreateEntityDialog TEntity="TEntity" @bind-IsOpen="_isCreateModalOpen" EntityName="@_entityName" OnSave="OnCreateModalSave"/>